
#textbox {
    display: block;
    margin: auto;
    padding: 1px;
    min-width: 400px;
    min-height: 50px;
    resize: both;
    margin-top: 10px;
}

#dropdown {
    width: 200px;
}

header {
    display:flex;
    text-align: center;
}

header h1{
    text-align: center;
    float: left;
    color: #375F9B;
    margin-top: 5px;
}

#submit {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.container {
    display: inline-block;
}

.col-sm-8 {
    margin: 0px;
    display: inline-block;
}

.col-sm-2 {
    margin: 0px;
    padding: 2px;
    display: inline-block;
}

.jumbotron {
    background-color: white;
    padding: 15px;
}

.heading{
    width: 100%;
}

#TEST {
    text-align: center;
    color: #D7001E;
}

#filter {
    border: 3px solid #375F9B;
    padding: 10px;
}

#Logo {
    display:inline-block;
}
img{
    margin: 5px 5px;
    margin-right: 30px;
    width: 12%;
    height: 12%;
}